<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerry.savior_user.mybatis.mapper.UmsThirdPlatformDOMapper">
  <resultMap id="BaseResultMap" type="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="platform_login_url" jdbcType="VARCHAR" property="platformLoginUrl" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="doc_url" jdbcType="VARCHAR" property="docUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logo, platform_name, platform_login_url, params, handler, doc_url, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_third_platform
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_third_platform
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    insert into ums_third_platform (id, logo, platform_name, 
      platform_login_url, params, handler, 
      doc_url, status, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{logo,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
      #{platformLoginUrl,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{handler,jdbcType=VARCHAR}, 
      #{docUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    insert into ums_third_platform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="platformName != null">
        platform_name,
      </if>
      <if test="platformLoginUrl != null">
        platform_login_url,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="docUrl != null">
        doc_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformLoginUrl != null">
        #{platformLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null">
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    update ums_third_platform
    <set>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformLoginUrl != null">
        platform_login_url = #{platformLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null">
        doc_url = #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    update ums_third_platform
    set logo = #{logo,jdbcType=VARCHAR},
      platform_name = #{platformName,jdbcType=VARCHAR},
      platform_login_url = #{platformLoginUrl,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      doc_url = #{docUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="platform_login_url" jdbcType="VARCHAR" property="platformLoginUrl" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="doc_url" jdbcType="VARCHAR" property="docUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, logo, platform_name, platform_login_url, params, handler, doc_url, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_third_platform
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_third_platform
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    insert into ums_third_platform (id, logo, platform_name, 
      platform_login_url, params, handler, 
      doc_url, status, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{logo,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
      #{platformLoginUrl,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{handler,jdbcType=VARCHAR}, 
      #{docUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    insert into ums_third_platform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="platformName != null">
        platform_name,
      </if>
      <if test="platformLoginUrl != null">
        platform_login_url,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="docUrl != null">
        doc_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformLoginUrl != null">
        #{platformLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null">
        #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    update ums_third_platform
    <set>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformLoginUrl != null">
        platform_login_url = #{platformLoginUrl,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="docUrl != null">
        doc_url = #{docUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jerry.savior_user.mybatis.DO.UmsThirdPlatformDO">
    update ums_third_platform
    set logo = #{logo,jdbcType=VARCHAR},
      platform_name = #{platformName,jdbcType=VARCHAR},
      platform_login_url = #{platformLoginUrl,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      doc_url = #{docUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>